* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.clearfix {
    overflow: auto;
}

body {
    width: 1000px;
    margin: 0 auto;
}

.top-bar {
    background-color: #101010;
}

.top-bar-links {
    float: left;
}

.top-bar-links ul {
    list-style: none;
    margin: 20px;
}

.top-bar-links ul li {
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid white;
}

.top-bar-links ul li:last-child {
    border: none;
}

.top-bar-links ul li a {
    color: white;
}

.top-bar-links ul li a:hover {
    color: #F9004D;
}

.site-search {
    float: right;
    margin: 15px;
    height: 25px;
    background-color: #EFF3F6;
    border-radius: 20px;
    padding: 4px 5px 4px 10px;
}

.site-search input {
    border: none;
    outline: none;
    float: left;
    background-color: #EFF3F6;
    width: 200px;
    padding: 5px 10px 0 5px;
}

.site-search button {
    background: url("../image/search.png");
    width: 16px;
    height: 16px;
    border: none;
    float: right;
    margin: 5px 5px 0 5px;
}

#form {
    border: none;
}

.company-details {
    background: #191919;
}

#company {
    font-family: "Montserrat", serif;
    font-size: 40px;
    padding: 20px 20px 0 20px;
    letter-spacing: 1px;
    color: #F9004D;
}

#description {
    padding: 0 20px 40px 20px;
    letter-spacing: 3px;
    color: white;
}

.c-tag {
    margin-top: 20px;
    float: left;
}

.social-links {
    float: right;
    margin-top: 50px;
}

.social-links ul {
    list-style: none;
    margin-right: 30px;
}

.social-links ul li {
    display: inline-block;
    padding: 5px;
}

.social-links ul li a {
    color: #F9004D;
    display: flex;
    padding: 6px;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #191919;
    border-color: white;
}

.social-links ul li a:hover {
    background: white;
}

.nav {
    background: linear-gradient(#0d0d0d, #444, #0d0d0d);
    text-align: center;
    height: 50px;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline-block;
    padding: 10px 40px 10px 40px;
    justify-content: center;
    align-items: center;
}

.nav ul li a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 20px 10px 20px;
    display: inline-block;
    font-size: 14px;
}

.nav ul li a:hover {
    color: #F9004D;
}

.intro {
    width: 1000px;
    height: 700px;
    background: #191919;
}

#person {
    float: left;
    margin: 15px;
}

#person img {
    border-radius: 5px;
    width: 500px;
}

.details {
    float: right;
    text-align: left;
    align-items: center;
    margin-right: 40px;
    display: inline;
    width: 400px;
}

.details h1 {
    font-size: 40px;
    margin-top: 150px;
    color: white;
}

.details span {
    color: #F9004D;
}

.details p {
    margin-top: 10px;
    font-family: "Times New Roman", serif;
    color: #9A9DA8;
    letter-spacing: 1px;
    font-size: 16px;
}

.home-content {
    background-color: #101010;
    width: 1000px;
}

.col-one {
    width: 293.33px;
    height: 600px;
    float: left;
    margin-left: 30px;
    /*background-color: midnightblue;*/
}

.col-one p {
    color: #9A9DA8;
    font-size: 18px;
    margin-top: 25px;
}

.col-one h2 {
    font-family: "Times New Roman", monospace;
    font-weight: bold;
    margin: 30px 0 30px 0;
    font-size: 30px;
    color: #d9d9d9;
}

.col-one img {
    width: 293.33px;
}

.service {
    margin-right: 15px;
    margin-bottom: 55px;
}

.service img {
    width: 60px;
    border-radius: 5px;
    padding-right: 15px;
    float: left;
}

.service h3 {
    font-size: 18px;
    color: #d9d9d9;
}

.service p {
    font-size: 18px;
    margin-top: 0;
}

.quote i {
    float: left;
    color: #333333;
}

.quote h3 {
    margin: 25px 0 12px 15px;
    float: left;
    color: #d9d9d9;
}

.quote p {
    font-size: 18px;
    clear: both;
}

.quote a {
    float: right;
    color: sandybrown;
    margin-top: 0;
}

.quote a:hover {
    color: #F9004D;
}

footer {
    width: 1000px;
    height: 500px;
    background-color: #191919;
}

.footer-col {
    width: 231.25px;
    float: left;
    margin-top: 40px;
    margin-left: 15px;
    border-top: 1px solid black;
    height: 400px;
}

.footer-col h4 {
    padding-top: 20px;
    color: lightsteelblue;
    text-transform: uppercase;
}

.tweet p {
    padding-top: 12px;
    font-size: 16px;
    color: #9A9DA8;
}

.tweet a {
    color: red;
}

.quicklinks {
    padding-top: 20px;
}

.quicklinks ul {
    list-style: none;
}

.quicklinks ul li {
    margin-bottom: 5px;
}

.quicklinks ul li a {
    padding-bottom: 5px;
    border-bottom: 1px solid darkgoldenrod;
    display: block;
    color: #9A9DA8;
}

.quicklinks ul li a:hover {
    color: #F9004D;
}

.quicklinks ul li a::before {
    content: "» ";
    color: darkgoldenrod;
}

.blogpost {
    margin-top: 35px;
    margin-bottom: 20px;
}

.blogpost p {
    font-size: 13px;
    clear: both;
    padding-top: 5px;
    color: #9A9DA8;
}

.blogpost a {
    font-size: 14px;
    color: #191919;
    float: right;
}

.blogpost p {
    padding-top: 20px;
}

.address {
    float: left;
    color: #9A9DA8;
}

.address a {
    color: red;
    float: left;
}

.blogpost a:hover {
    color: #F9004D;
}

.contact {
    margin-top: 20px;
}

.contact input {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 3px;
    background-color: #101010;
    color: white;
    padding: 6px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 16px;
}

.contact textarea {
    background-color: #101010;
    color: white;
    border: none;
    outline: none;
    padding: 6px;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
}

.contact button {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #F9004D;
    border: none;
    outline: none;
}

.contact button:hover {
    background-color: #a10535;
}

.copyrights {
    clear: both;
    background-color: #101010;
    padding: 20px;
    color: #9A9DA8;
    border-radius: 3px;
}

[id="left"] {
    float: left;
    font-weight: normal;
}

[id="right"] {
    float: right;
    font-weight: normal;
}
