* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.clearfix {
    overflow: auto;
}

[href]:hover{
    color: sandybrown;
}

.top-bar {
    width: 1000px;
    margin: 0 auto;
    background-color: sienna;
}

.top-bar-links {
    float: left;
}

.top-bar-links ul {
    list-style: none;
    margin: 15px;
}

.top-bar-links ul li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid white;
}

.top-bar-links ul li:last-child {
    border: none;
}

.top-bar-links ul li a {
    color: white;
}

.site-search {
    float: right;
    margin: 15px;
    background-color: #EFF3F6;
    border-radius: 20px;
    padding: 4px 5px 4px 10px;
}

.site-search input {
    border: none;
    outline: none;
    float: left;
    background-color: #EFF3F6;
}

.site-search button {
    background: url("../image/search.png");
    width: 16px;
    height: 16px;
    border: none;
    float: right;
}

#form {
    border: none;
}



