* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.clearfix {
    overflow: auto;
}

[href]:hover{
    color: sandybrown;
}

body{
    width: 1000px;
    margin: 0 auto;
}

.top-bar {
    background-color: #6a2606;
}

.top-bar-links {
    float: left;
}

.top-bar-links ul {
    list-style: none;
    margin: 15px;
}

.top-bar-links ul li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid white;
}

.top-bar-links ul li:last-child {
    border: none;
}

.top-bar-links ul li a {
    color: white;
}

.site-search {
    float: right;
    margin: 15px;
    background-color: #EFF3F6;
    border-radius: 20px;
    padding: 4px 5px 4px 10px;
}

.site-search input {
    border: none;
    outline: none;
    float: left;
    background-color: #EFF3F6;
    width: 200px;
    padding-right: 10px;
}

.site-search button {
    background: url("../image/search.png");
    width: 16px;
    height: 16px;
    border: none;
    float: right;
}

#form {
    border: none;
}

#company{
    font-family: "Monospaced", serif;
    font-size: 48px;
    padding: 20px 20px 0 20px;
    letter-spacing: 1px;
}

#description{
    padding: 0 20px 20px 20px;
    color: sienna;
}

.ctag{
    float: left;
}

.social-links{
    float: right;
}

.social-links ul{
    list-style: none;
}






